Workflow/Milvus n8n Local RAG Agent.json
{
  "name": "Milvus n8n Local RAG Agent",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "02ed624d-bf40-4093-97d8-986d49f0bbc6",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "position": [
        944,
        464
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "modelName": "embed-multilingual-v3.0"
      },
      "id": "d2ac44a3-6b47-4346-9118-b87415c8798b",
      "name": "Embeddings Cohere",
      "type": "@n8n/n8n-nodes-langchain.embeddingsCohere",
      "position": [
        816,
        464
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "mode": "insert",
        "milvusCollection": {
          "__rl": true,
          "value": "collectionName",
          "mode": "list",
          "cachedResultName": "collectionName"
        },
        "options": {
          "clearCollection": false
        }
      },
      "id": "9c0fb53e-3c6e-4153-8b03-5e0ca47a5707",
      "name": "Insert into Milvus",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreMilvus",
      "position": [
        832,
        240
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are an AI assistant with access to a document database. For every query:\n1. Always use the Retrieve from Milvus tool first\n2. Base your responses only on retrieved information\n3. If no relevant information is found, state \"I couldn't find that information in the documents\"\n4. Quote specific details when available\nNever make up information not present in the retrieved documents."
        }
      },
      "id": "bde2b326-4236-40b9-b35f-0c551ff07814",
      "name": "RAG Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        1664,
        240
      ],
      "typeVersion": 1.8
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "vector_store",
        "toolDescription": "You are an AI agent that responds based on information received from a vector database.",
        "milvusCollection": {
          "__rl": true,
          "mode": "list",
          "value": "collectionName",
          "cachedResultName": "collectionName"
        },
        "topK": 10
      },
      "id": "484ff7d5-34a7-447c-bfd0-3d388585ba23",
      "name": "Retrieve from Milvus",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreMilvus",
      "position": [
        1856,
        448
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {},
      "id": "5da42feb-dcde-4c04-8775-e0b48f1d537f",
      "name": "Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        1744,
        448
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "modelName": "embed-multilingual-v3.0"
      },
      "id": "34d165f9-b608-4c71-bd67-e0587bbaa6aa",
      "name": "Cohere embeddings",
      "type": "@n8n/n8n-nodes-langchain.embeddingsCohere",
      "position": [
        1984,
        608
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "chunkSize": 700,
        "chunkOverlap": 60,
        "options": {}
      },
      "id": "b9b34d3f-dc9f-4afa-a5b7-61476ac2e373",
      "name": "Set Chunks",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "position": [
        1024,
        624
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "id": "f97661b9-3887-494f-9b14-ff382470a39a",
      "name": "Extract from File",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        592,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        160,
        240
      ],
      "id": "8f500b54-40c2-4343-8846-a80d40162889",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "fileSelector": "/Users/manthan/Downloads/PATIENT1.pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        368,
        240
      ],
      "id": "396b5e06-1382-421e-b187-cce2d6f61da7",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        1408,
        240
      ],
      "id": "7db85578-e9a6-4ca5-a98e-14c477b258cb",
      "name": "When chat message received",
      "webhookId": "d7cd0cba-314e-4f15-b1f2-57e2342366c4"
    },
    {
      "parameters": {
        "model": "gpt-oss:20b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        1536,
        448
      ],
      "id": "a8570874-68c9-419b-8d04-10457d54f4ee",
      "name": "Ollama Chat Model"
    },
    {
      "parameters": {
        "content": "Uploading doc to vectorstore\n",
        "height": 780,
        "width": 1200
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        48,
        64
      ],
      "typeVersion": 1,
      "id": "6988aa2f-c9bc-4134-bc1b-dc7996c9f7a3",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "Talking to files\n",
        "height": 780,
        "width": 876,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1344,
        64
      ],
      "typeVersion": 1,
      "id": "ddb35958-6320-4460-bec5-d6ec7b9caf3a",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        384,
        448
      ],
      "id": "737662b4-d44f-4dc7-90c9-6fe3c76900ed",
      "name": "Google Drive"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1v57_bKoeyzQ2xDbJUtbx6zOTfplhpjRf",
          "mode": "list",
          "cachedResultName": "RAG Agent Files",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1v57_bKoeyzQ2xDbJUtbx6zOTfplhpjRf"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        160,
        448
      ],
      "id": "dcdca681-dee9-4405-a4ef-f60d1e5f2454",
      "name": "Google Drive Trigger",
      "disabled": true
    },
    {
      "parameters": {
        "path": "d4c701e4-d6b1-4632-b867-01136c11fe2b",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1504,
        80
      ],
      "id": "d5acaf7e-5dd0-4ba1-bee4-8d52dd73dafd",
      "name": "Webhook",
      "webhookId": "d4c701e4-d6b1-4632-b867-01136c11fe2b",
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1968,
        240
      ],
      "id": "13002400-33a2-4756-a8e0-36b2e3aa7277",
      "name": "Respond to Webhook",
      "disabled": true
    },
    {
      "parameters": {
        "content": "This template creates a powerful Retrieval Augmented Generation (RAG) AI agent workflow in n8n. It monitors a specified Google Drive folder for new PDF files, extracts their content, generates vector embeddings using Cohere, and stores these embeddings in a Milvus vector database. Subsequently, it enables a RAG agent that can retrieve relevant information from the Milvus database based on user queries and generate responses using Ollama, enhanced by the retrieved context.\n\n",
        "width": 608
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -608,
        64
      ],
      "typeVersion": 1,
      "id": "e6b296e7-abd6-41f5-bb1b-13eb0f582d31",
      "name": "Sticky Note2"
    }
  ],
  "pinData": {},
  "connections": {
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Insert into Milvus",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Cohere": {
      "ai_embedding": [
        [
          {
            "node": "Insert into Milvus",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "RAG Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve from Milvus": {
      "ai_tool": [
        [
          {
            "node": "RAG Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Memory": {
      "ai_memory": [
        [
          {
            "node": "RAG Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Cohere embeddings": {
      "ai_embedding": [
        [
          {
            "node": "Retrieve from Milvus",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Set Chunks": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Insert into Milvus",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "RAG Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "RAG Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "RAG Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "705d7b34-80ac-41cd-9b0a-26cc7ba7c173",
  "meta": {
    "instanceId": "eae46237f0b03e1e21495b9d127d17ad71e5e7504c7d7b1084f9a3d34657c561"
  },
  "id": "EwN0yAwrB4l0bwpp",
  "tags": []
}