Telegram with DATA_ANALYSIS.json
{
  "name": "DATA ANALYSIS",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        -300,
        -60
      ],
      "id": "f8fc585c-5116-48af-b378-7f058fb5f8b0",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "1217679149",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -220,
        180
      ],
      "id": "53585da9-44ef-4798-b85d-f9efe9694a2d",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -360,
        160
      ],
      "id": "d81b436f-0f99-4aae-9ff2-5361d6c162de",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "Rb7eovva1Bl7jDFh",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1Wkfb28EGWaS36GeqfTJ7EY0gxK9rE6VS-DCBVdjmrI0/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        -80,
        160
      ],
      "id": "11e69e48-b4f6-4bab-bd08-0813b2893500",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "dGCsO2xwFkKxFEJh",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -620,
        -40
      ],
      "id": "51ca2050-cece-4a44-b91a-60e39e243477",
      "name": "Telegram Trigger",
      "webhookId": "cb26d80e-0743-4b8c-bb28-9603d1454a59",
      "credentials": {
        "telegramApi": {
          "id": "Ou6kPkcHb2vomS9b",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "spreadsheet",
        "title": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Title', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        120,
        160
      ],
      "id": "a2739b5b-f192-434d-81e9-9c72e9e906f4",
      "name": "Google Sheets1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "dGCsO2xwFkKxFEJh",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "name": "=new file",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root",
          "cachedResultName": "/ (Root folder)"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTool",
      "typeVersion": 3,
      "position": [
        320,
        160
      ],
      "id": "4863c2ea-3075-421d-8820-d017e72d91f5",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "VTF3yEj928aktdTf",
          "name": "Google Drive account 4"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        60,
        -60
      ],
      "id": "3bf31d2d-9de1-447c-a802-5897755214c6",
      "name": "Telegram",
      "webhookId": "ba6a4468-b8fe-4559-a851-f7981119ee5f",
      "credentials": {
        "telegramApi": {
          "id": "Ou6kPkcHb2vomS9b",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "017216fc-4f31-4a62-a128-a07c53bf71a4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f0bfb4d78af74ba46c1806fbb10a79075fee29e9d17923078c1765c2b18f7cf3"
  },
  "id": "6hG8rvstLOzBF46E",
  "tags": []
}