Workflow/Company technology and tech tech/Company technology and tech tech.json
{
  "name": "Company technology and tech tech",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        1552,
        592
      ],
      "id": "d963dbeb-37ec-4dfd-93fc-d89084776d5e",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1A7zqVa2D2fzP1sPuz_RPvL1n22-8a0nOe5fe1d4oK2c",
          "mode": "list",
          "cachedResultName": "company domains",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1A7zqVa2D2fzP1sPuz_RPvL1n22-8a0nOe5fe1d4oK2c/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1A7zqVa2D2fzP1sPuz_RPvL1n22-8a0nOe5fe1d4oK2c/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1776,
        592
      ],
      "id": "4e5d564c-a90b-4fba-b84d-059245f12086",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "bCSjvO8TeUKSJXqF",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "batchSize": null,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2000,
        592
      ],
      "id": "cac6a950-8ed3-44c8-9186-6a9116f05fda",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "url": "=https://s.jina.ai//builtwith.com/{{ $('Google Sheets').item.json['Company Domain'] }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer jina_95189cd20de940f79c3fcb1ec6eddcfb9N4QmE5iwdqBwAiBhMmW2mSboVnk"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2224,
        592
      ],
      "id": "76288866-4df8-410c-a796-c0517717c305",
      "name": "Tech technologies sourcing"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.data }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "Analyze the received content and identify only the technologies used by the company. Ignore all other information. Response format: Present the results as a structured list organized by categories. Each category will group similar technologies. Example classification:  Hosting & Servers: [Technology names] CMS & Content Management: [Technology names] Analysis & Tracking Tools: [Technology names] Security & Performance: [Technology names] Other technologies: [Technology names]  Constraints:  Do not include irrelevant text (advertisements, external sources, etc.). Limit to technologies specific to the analyzed company. Provide a clear and concise response."
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        2448,
        592
      ],
      "id": "6e4b0482-6750-4b8c-b027-d77dd72c6738",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"technologies\": {\n    \"Hosting & Servers\": [\n      \"Cloudflare\",\n      \"AWS CloudFront\"\n    ],\n    \"CMS & Content Management\": [\n      \"WordPress\"\n    ],\n    \"Analysis & Tracking Tools\": [\n      \"Google Analytics\",\n      \"Hotjar\"\n    ],\n    \"Security & Performance\": [\n      \"reCAPTCHA\",\n      \"SSL by Let's Encrypt\"\n    ],\n    \"Other technologies\": [\n      \"Google Tag Manager\",\n      \"Facebook Pixel\"\n    ]\n  }\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        2592,
        816
      ],
      "id": "eb08327e-92db-48a6-8fd8-9a541176e6c0",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1A7zqVa2D2fzP1sPuz_RPvL1n22-8a0nOe5fe1d4oK2c",
          "mode": "list",
          "cachedResultName": "company domains",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1A7zqVa2D2fzP1sPuz_RPvL1n22-8a0nOe5fe1d4oK2c/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1A7zqVa2D2fzP1sPuz_RPvL1n22-8a0nOe5fe1d4oK2c/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Company Domain": "={{ $('Google Sheets').item.json['Company Domain'] }}",
            "Hosting & Servers": "={{ $json.output.technologies['Hosting & Servers'].join('. ') }}",
            "CMS & Content Management": "={{ $json.output.technologies['CMS & Content Management'].join('. ') }}",
            "Analysis & Tracking Tools": "={{ $json.output.technologies['Analysis & Tracking Tools'].join('. ') }}",
            "Security & Preferences": "={{ $json.output.technologies['Security & Performance'].join('. ') }}",
            "other Technologies": "={{ $json.output.technologies['Other technologies'].join('. ') }}"
          },
          "matchingColumns": [
            "Company Domain"
          ],
          "schema": [
            {
              "id": "Company Domain",
              "displayName": "Company Domain",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Hosting & Servers",
              "displayName": "Hosting & Servers",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CMS & Content Management",
              "displayName": "CMS & Content Management",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Analysis & Tracking Tools",
              "displayName": "Analysis & Tracking Tools",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Security & Preferences",
              "displayName": "Security & Preferences",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "other Technologies",
              "displayName": "other Technologies",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2800,
        592
      ],
      "id": "27d41ec7-e2c3-4327-9090-eb910abc2bbe",
      "name": "Google Sheets1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "bCSjvO8TeUKSJXqF",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        2384,
        784
      ],
      "id": "d2cbceb4-d977-433a-9e4e-318d304e3b0e",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "DJVt176L1kX6wF7d",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Tech technologies sourcing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tech technologies sourcing": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "de2569a5-bc9f-45dc-a0b1-55160dc318c9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4b9048e3e9325bb15acc5591fc1dc7122d689cc65d8bf0bdd3d027f2c48a3f8f"
  },
  "id": "icxx3Q3uIYx8gcty",
  "tags": []
}